/* --- GLOBAL BODY --- */
body {
    margin: 0;

    font-family: Poppins, Sans-serif;
    color: white;

    backdrop-filter: blur(15px);
    background: #36549C url(/img/background.jpg) center center/cover no-repeat;
}

/* --- MAIN CONTAINER --- */
.container {
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

/* --- HEADER --- */
.header {
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

.header img {
    width: 100%;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    filter: drop-shadow(0px 5px 20px #1F1F1F);
}

/* --- NAVBAR --- */
.navbar {
    text-align: center;
    margin-bottom: 20px;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    display: inline-block;
    background: white;
    border-radius: 40px;
    padding: 20px;
    margin: 10px;
    cursor: pointer;
}

.navbar a {
    text-decoration: none;
    color: rgb(0, 139, 231);
    font-size: 25px;
    font-weight: bold;
}

/* --- CONTENT --- */
.content {
    text-align: justify;
    font-size: 18px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 50px;
    background: #1d7aa5;
    padding: 50px;
    border: 5px solid rgb(193, 225, 255);
    box-shadow: 0px 5px 15px 1px #1F1F1F;
}

.content h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 40px;
}

.content strong {
    font-size: 24px;
}

.content a {
    color: white;
    text-decoration: none;
}

.content a:hover {
    color: rgb(145, 205, 255);
}

.content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    width: 25%;
}

/* --- FOOTER --- */
.footer {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    background: #1d7aa5;
    border-radius: 50px;
    text-align: center;
    font-size: 12px;
    margin-left: 20%;
    margin-right: 20%;
    border: 5px solid rgb(193, 225, 255);
    box-shadow: 0px 5px 15px 1px #1F1F1F;
}

/*-----------------------*/
/* --- @Media Query  --- */
/*-----------------------*/

/* --- Mobile Device --- */
@media (max-width: 800px) {
    .header {
        margin-left: 3%;
        margin-right: 3%;
    }

    .content {
        font-size: 16px;
        margin-left: 5%;
        margin-right: 5%;
        padding: 15px;
    }

    .content h1 {
        font-size: 30px;
        margin: 0;
        padding: 0;
    }

    .footer {
        font-size: 8px;
        margin-left: 5%;
        margin-right: 5%;
        padding: 0;
    }
}