.header {
    text-align: center;
    background: #965d5d;
    color: white;
    font-size: 30px;
}

.content {
    text-align: center;
    background: #5fa55c;
    color: white;
    font-size: 30px;
}

.footer {
    text-align: center;
    background: #477991;
    color: white;
    font-size: 30px;
}